{% if current_user.is_authenticated %}
<aside class="hidden w-full mobile:w-auto absolute top-[61px] right-0 z-40 max-h-[100vh] content-area overflow-y-scroll scrollbar" aria-label="Sidebar" id="settings_sidebar">
    <div class="px-6 py-4 overflow-y-auto rounded-bl bg-gray-200 dark:bg-gray-800 border-gray-400 border-l-2 border-b-2 shadow-md">
        <!-- Form Title -->
        <ul class="space-y-2">
            <li class="flex items-center flex-row p-2 text-gray-900 dark:text-white justify-between">
                <span class="font-medium text-xl">Settings</span>
                <i class="fa-regular fa-circle-xmark text-2xl hover:cursor-pointer hover:text-red-600"
                    id="settings_sidebar_btn"></i>
            </li>
        </ul>
        <!-- Settings Form -->
        <form action="" method="POST" enctype="multipart/form-data" id="settings_form">
            {{ settingsForm.hidden_tag() }}
            <ul class="pt-4 mt-4 space-y-4 border-t border-gray-200 dark:border-gray-700 w-[280px] max-w-[280px]">
                <!-- Profile Picure Field -->
                <li>
                    {% if settingsForm.profile_pic.errors %}
                        {{ settingsForm.profile_pic.label(class="form-invalid-label") }}
                        {{ settingsForm.profile_pic(class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none focus:border-transparent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400") }}
                        {% for error in settingsForm.profile_pic.errors %}
                        <p class="form-error-message max-w-full"><span class="font-medium">Oops! </span>{{ error }}</p>
                    {% endfor %}
                    {% else %}
                        {{ settingsForm.profile_pic.label(class="form-label") }}
                        {{ settingsForm.profile_pic(class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none focus:border-transparent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400") }}
                    {% endif %}
                </li>
                <!-- Username Field -->
                <li>
                    {% if settingsForm.username.errors %}
                        {{ settingsForm.username.label(class="form-invalid-label") }}
                        {{ settingsForm.username(class="form-invalid-input", placeholder=current_user.username) }}
                        {% for error in settingsForm.username.errors %}
                            <p class="form-error-message max-w-full"><span class="font-medium">Oops! </span>{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {{ settingsForm.username.label(class="form-label") }}
                        {{ settingsForm.username(class="form-input", placeholder=current_user.username) }}
                    {% endif %}
                </li>
                <!-- First Name Field -->
                <li>
                    {% if settingsForm.fname.errors %}
                        {{ settingsForm.fname.label(class="form-invalid-label") }}
                        {{ settingsForm.fname(class="form-invalid-input", placeholder=current_user.fname|capitalize) }}
                        {% for error in settingsForm.fname.errors %}
                            <p class="form-error-message max-w-full"><span class="font-medium">Oops! </span>{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {{ settingsForm.fname.label(class="form-label") }}
                        {{ settingsForm.fname(class="form-input", placeholder=current_user.fname|capitalize) }}
                    {% endif %}
                </li>
                <!-- Last Name Field -->
                <li>
                    {% if settingsForm.lname.errors %}
                        {{ settingsForm.lname.label(class="form-invalid-label") }}
                        {{ settingsForm.lname(class="form-invalid-input", placeholder=current_user.lname|capitalize) }}
                        {% for error in settingsForm.lname.errors %}
                            <p class="form-error-message max-w-full"><span class="font-medium">Oops! </span>{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {{ settingsForm.lname.label(class="form-label") }}
                        {{ settingsForm.lname(class="form-input", placeholder=current_user.lname|capitalize) }}
                    {% endif %}
                </li>
                <!-- Password Field -->
                <li>
                    {% if settingsForm.password.errors %}
                        {{ settingsForm.password.label(class="form-invalid-label") }}
                        {{ settingsForm.password(class="form-invalid-input") }}
                        {% for error in settingsForm.password.errors %}
                            <p class="form-error-message max-w-full"><span class="font-medium">Oops! </span>{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {{ settingsForm.password.label(class="form-label") }}
                        {{ settingsForm.password(class="form-input") }}
                    {% endif %}
                </li>
                <!-- Confirm Password Field -->
                <li>
                    {% if settingsForm.confirm_password.errors %}
                        {{ settingsForm.confirm_password.label(class="form-invalid-label") }}
                        {{ settingsForm.confirm_password(class="form-invalid-input") }}
                        {% for error in settingsForm.confirm_password.errors %}
                            <p class="form-error-message max-w-full"><span class="font-medium">Oops! </span>{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {{ settingsForm.confirm_password.label(class="form-label") }}
                        {{ settingsForm.confirm_password(class="form-input") }}
                    {% endif %}
                </li>
                <!-- Submit Field -->
                <li>
                    {{ settingsForm.submit(class="primary-btn w-full font-medium text-sm px-5 py-2.5 mt-4 hover:cursor-pointer") }}
                </li>
            </ul>
        </form>
    </div>
</aside>
{% endif %}