{% extends "layout.html" %}
{% block content %}
    
<div class="flex flex-col max-w-7xl mx-auto mt-4 mobile:px-2">
    <div class="overflow-x-auto sm:rounded-lg">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden ">
                <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
                    <!-- Table Header  -->
                    <thead class="bg-transparent">
                        <!-- Search Row -->
                        <tr>
                            <th scope="col" class=" pb-4 text-sm font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400" colspan="4">
                                <div class="flex flex-row mobile:justify-left justify-center items-center">
                                    <!-- Search Input -->
                                    <div class="relative mobile:mr-4">
                                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                            <i class="fa-solid fa-magnifying-glass text-gray-500 dark:text-gray-400"></i>
                                        </div>
                                        <input type="text" id="email-adress-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-1.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
                                    </div>
                                    <span class="mobile:mx-auto"></span>
                                </div>
                            </th>
                        </tr><!-- Search Row End -->
                        
                        <!-- Table Row Header -->
                        <tr class="bg-gray-200 dark:bg-gray-700 mt-4">
                            <!-- Topic Row -->
                            <th scope="col" class="py-2 px-2 text-sm font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                <a href="{{ url_for('main.home', sort='title') }}" class="hover:text-blue-700">
                                    <span>Topic</span> <i class="fa-solid fa-sort-down align-text-top"></i>
                                </a>
                            </th>
                            <!-- Category Row -->
                            <th scope="col" class="hidden lg:table-cell py-2 px-2 text-sm font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                                <a href="" class="hover:text-blue-700">
                                    <span>Category</span> <i class="fa-solid fa-sort-down align-text-top"></i>
                                </a>
                            </th>
                            <!-- Likes Row -->
                            <th scope="col" class="hidden lg:table-cell py-2 px-2 text-sm font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                                <a href="" class="hover:text-blue-700">
                                    <span>Likes</span> <i class="fa-solid fa-sort-down align-text-top"></i>
                                </a>
                            </th>
                            <!-- Activity Row -->
                            <th scope="col" class="w-0 mobile:w-auto py-2 px-2 text-sm font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                                <a href="" class="hover:text-blue-700 whitespace-nowrap">
                                    <span>Activity</span> <i class="fa-solid fa-sort-down align-text-top"></i>
                                </a>
                            </th>
                        </tr><!-- End Table Row Header -->
                    </thead><!-- End Table Header -->

                    <!-- Table Body -->
                    <tbody class="bg-gray-100 divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                        {% for post in posts %}
                            <!-- Post Row -->
                            <tr>
                                <!--  Topic Col -->
                                <td class="py-4 px-2 text-sm font-medium text-gray-900 dark:text-white text-center">
                                    <div class="flex flex-row justify-left items-center">
                                        <!-- Author Avatar -->
                                        <img class="rounded-full mr-4 w-10 h-10" src="{{ url_for('static', filename='media/profile_pics/' + post['author'].image) }}" alt="">
                                        <div class="flex flex-col w-full space-y-2">
                                            <!-- Topic Title -->
                                            <a href="#" class="text-left hover:text-blue-700 text-lg">{{ post['title'] }}</a>
                                            <!-- Topic Tags -->
                                            <div class="flex flex-row flex-wrap gap-2">
                                                {% for tag in post["tags"] %}
                                                    <span class="primary-tags"><i class="fa-solid fa-hashtag"></i> {{ tag }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <!-- Category Col -->
                                <td class="hidden lg:table-cell py-4 px-2 text-sm font-medium text-gray-500 dark:text-white text-center">
                                    <!-- Topic Category -->
                                    <a href="#">
                                        <span class="category-label-{{ post['category'].category_color }}">{{ post['category'].category_name|capitalize}}</span>
                                    </a>
                                </td>
                                <!-- Like Col -->
                                <td class="hidden lg:table-cell py-4 px-2 text-sm font-medium text-gray-900 dark:text-white text-center">
                                    <span>{{ post.like }}</span><i class="fa-solid fa-heart ml-2"></i>
                                </td>
                                <!-- Activity Col -->
                                <td class="py-4 px-2 text-sm font-medium text-gray-500 dark:text-white text-center">
                                    <span class="text-gray-600">{{ post['posted_date'] }}</span>
                                </td>
                            </tr><!-- End Post Row -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{%  endblock content %}