<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bundle.css') }}">
    <title>
        {% if page_title %}
        {{ page_title }}
        {% else %}
        FlaskBlog
        {% endif %}
    </title>
</head>

<body class="bg-white dark:bg-darkBg">

    <!-- NAVBAR -->
    {%  include "base/header.html" %}

    <!-- SETTINGS NAVABR -->
    {% include "base/settings_sidebar.html" %}

    <!-- MAIN CONTENT -->
    <main class="mt-[62px] z-0 pt-2">

        <!-- FLASH MESSAGES -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }} mt-4" role="alert" id="flash_message">
            <span>{{ message }}</span>
            <button type="button" class="{{ category }}-btn" aria-label="Close" id="flash_message_btn">
                <span class="sr-only">Close</span><i class="fa-solid fa-xmark text-xl text-center"></i>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- MAIN CONTENT -->
        {% block content %}
        {% endblock content %}
    </main>

    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/0fd6fa10db.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>

</html>