{% extends "layout.html" %}
{% block content %}
    
<div class="max-w-7xl mx-auto mt-4 mobile:mb-12 mb-4 p-4 border-2 dark:border-gray-800 border-gray-300 rounded-lg shadow-lg">
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row items-center justify-between w-full">
            <div class="flex flex-row items-center">
                <img src="{{ url_for('static', filename='media/profile_pics/' + user.image) }}" alt="User's Avatar" class="rounded-full mobile:w-24 mobile:h-24 w-16 h-16">
                <div>
                    <a href="{{ url_for('users.profile', user_id=user._id) }}" class="navbar-unactive-link text-xl mobile:text-2xl font-medium mobile:ml-4 ml-2">@{{ user.username|capitalize }}</a>
                    <p class="ml-2 mobile:ml-4 text-gray-700 dark:text-gray-500 mobile:text-xl text-lg mt-2">{{ postsCount }} threads</p>
                </div>
            </div>
            <div>
                <button class="primary-btn py-2 px-4">My Categories</button>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-col max-w-7xl mx-auto mt-4 mobile:px-2 mobile:mb-12 mb-4">
    <div class="overflow-x-auto sm:rounded-lg">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden ">
                <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
                    <!-- Table Header  -->
                    <thead class="bg-transparent" id="testAjax">
                        <!-- Search Row -->
                        <tr>
                            <th scope="col" class=" pb-4 text-sm font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400" colspan="4">
                                <div class="flex flex-row mobile:justify-left justify-between ml-2 mobile:ml-0 items-center">
                                    <!-- Search Input -->
                                    <div class="relative mobile:mr-4">
                                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                            <i class="fa-solid fa-magnifying-glass text-gray-500 dark:text-gray-400"></i>
                                        </div>
                                        <input data-livesearchcategory="{{ liveSearchCategory }}" data-livesearchuser="{{ liveSearchUser }}" type="text" id="posts_search" name="posts_search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-1.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
                                    </div>
                                    <span class="mobile:mx-auto"></span>
                                    {% if current_user._id == user._id %}
                                    <div>
                                        <a href="{{ url_for('posts.new_post') }}" class="hidden mobile:block primary-btn py-2 px-4">Add New Topic</a>

                                        <a href="{{ url_for('posts.new_post') }}" class="mobile:hidden text-green-500 hover:text-white hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm text-center dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800"><i class="fa-solid fa-pen-to-square text-2xl self-end mr-2"></i></a>
                                    </div>
                                    {% endif %}
                                </div>
                            </th>
                        </tr><!-- Search Row End -->
                        <!-- Table Row Header -->
                        <tr class="bg-gray-200 dark:bg-gray-700 mt-4">
                            <!-- Topic Row -->
                            <th scope="col" class="py-2 px-2 text-sm font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                <a href="{{ url_for('main.home', sort='title') }}" class="hover:text-blue-700">
                                    <span>{{ user.username|capitalize }}'s Topics</span>
                                </a>
                            </th>
                            <!-- Category Row -->
                            <th scope="col" class="hidden lg:table-cell py-2 px-2 text-sm font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                                <a href="" class="hover:text-blue-700">
                                    <span>Category</span>
                                </a>
                            </th>
                            <!-- Likes Row -->
                            <th scope="col" class="hidden lg:table-cell py-2 px-2 text-sm font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                                <a href="" class="hover:text-blue-700">
                                    <span>Likes</span>
                                </a>
                            </th>
                            <!-- Activity Row -->
                            <th scope="col" class="w-0 mobile:w-auto py-2 px-2 text-sm font-medium tracking-wider text-center text-gray-700 uppercase dark:text-gray-400">
                                <a href="" class="hover:text-blue-700 whitespace-nowrap">
                                    <span>Activity</span>
                                </a>
                            </th>
                        </tr><!-- End Table Row Header -->
                    </thead><!-- End Table Header -->

                   {% include 'base/bodyTable.html'%}
                </table>
            </div>
        </div>
    </div>
</div>



{%  endblock content %}