{% extends "layout.html" %}
{% block content %}
    
<div class="form-modal">
    <form class="space-y-6" action="#" method="POST">
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">Sign Up to FlaskBlog</h3>
        <div>
            <label for="login_email" class="form-label">Your email</label>
            <input type="email" name="login_email" id="login_email" class="form-input" placeholder="name@email.com" required>
        </div>
        <div>
            <label for="login_password" class="form-label">Your password</label>
            <input type="password" name="login_password" id="login_password" placeholder="••••••••" class="form-input" required>
        </div>
        <div class="flex items-start">
            <div class="flex items-start">
                <div class="flex items-center h-5">
                <input id="remember" name="login_remember" aria-describedby="remember" type="checkbox" class="form-checkBox" required>
                </div>
                <div class="ml-3 text-sm">
                <label for="remember" class="checkBox-label">Remember me</label>
                </div>
            </div>
            <a href="#" class="ml-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>
        </div>
        <button type="submit" class="primary-btn w-full font-medium  text-sm px-5 py-2.5">Create your account</button>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
            Have an account? <a href="{{ url_for('login') }}" class="text-blue-700 hover:underline dark:text-blue-500">Log In</a>
        </div>
    </form>
</div>


{%  endblock content %}